body {
    font-family: "Didact Gothic";
}







/* login page css */

#logo {
    margin-left: 520px;
}

#login {
    margin-left: 545px;
}

#user{
    margin-bottom: 1px;
}

#pass{
    margin-bottom: 2px;
}

#submitLogin {
    margin-left: 58px;
}


#empHomeLogo {
    height: 60px;
    width: 60px;
    margin-left: 3px;

}

#slogan {
    display: inline-block;
    font-size: 30px;
    margin-left: 850px;
    margin-bottom: 2px;
}




/* Add a black background color to the top navigation */
.navbar {
    background-color: rgb(65, 167, 201);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: rgb(4, 85, 133);
    color: white;
  }

  #profilePic {
      border-width: 2px;
      border-color: rgb(4, 85, 133);
      height: 290px;
      width: 300px;
      margin-top: 60px;
      margin-left: 200px;
  }

  #empProfileName {
    font-size: 30px;  
    margin-left: 240px;
      margin-top: 1px;
  }
  
  .profileInfo {
      display: inline-block;
      font-size: 50px;
      margin-left: 250px;
  }

